<nav class="container">
    <ul class="flex gap-2 items-center">
        <li>
            <a
                class="text-zinc-200 hover:text-slate-400"
                routerLink="/events"
                routerLinkActive="text-slate-700"
            > Explorer </a>
        </li>
        <li>
            <a
            class="text-zinc-200 hover:text-slate-400"
                routerLink="/calendar"
                routerLinkActive="text-slate-700"
            > Calendar </a>
        </li>       
    </ul>
</nav>
