<nav class="container">
    <ul class="flex gap-2 items-center">
        <li>
            <a
                class="text-zinc-200 hover:text-slate-400"
                routerLink="/events/grid"
                routerLinkActive="active-link"
            > Grid </a>
        </li>
        <li>
            <a
            class="text-zinc-200 hover:text-slate-400"
                routerLink="/events/table"
                routerLinkActive="active-link"
            > Table </a>
        </li>       
    </ul>
</nav>
