<div class="flex w-full justify-between">
    <button routerLink="/events/add" router class="px-4 py-2 bg-blue-500 rounded">Add new event</button>
    <input type="datetime-local" class="bg-white/10 border-zinc-500 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white/20" [formControl]="dateControl" (ngModelChange)="loadEvents()" />
</div>
    
<table class="table-auto w-full bg-white/10 rounded-lg border-zinc-500 my-4">
    <thead>
        <tr class="*:py-4 *:px-2">
            <th class="text-left">Title</th>
            <th class="text-left">Start Date</th>
            <th class="text-left">End Date</th>
            <th class="text-left">Location</th>
            <th class="text-left">Description</th>
            <th class="text-left">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (event of events; track event.id) {
            <tr class="*:py-4 *:px-2">
                <td>{{ event.title }}</td>
                <td>{{ event.startDate | date }}</td>
                <td>{{ event.endDate | date }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.description }}</td>
                <td class="space-x-2">
                    <a [routerLink]="['/events', event.id, 'edit']" class="text-blue-500">Edit</a>
                    <button (click)="deleteEvent(event.id)" class="text-red-500">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>